@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container {
  @apply mx-auto p-3 md:p-6 sm:max-w-xl md:max-w-full lg:max-w-screen-xl;
}

.btn {
  @apply inline-flex items-center lg:text-base text-xs lg:px-6 md:px-4 px-3 lg:py-3 py-2  mb-3 font-medium text-white transition rounded shadow-md md:mb-0 bg-gradient-to-r bg-orange-400  hover:bg-orange-500 duration-700;
}

.badge {
  @apply inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 uppercase rounded-full bg-yellow-400;
}

.active {
  @apply font-medium tracking-wide text-orange-500 transition-colors duration-200;
}

.default {
  @apply font-medium tracking-wide text-slate-700 transition-colors duration-200 hover:text-slate-900;
}